.bid-comparison-container {
    padding: 20px;
    max-width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

h2, h3 {
    text-align: left;
    margin-bottom: 20px;
}

.table-wrapper {
    width: 100%;
    max-width: 700px;
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Allow table to resize according to the content */
}

table, th, td {
    border: 2px solid #004d00;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4caf50;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-clean {
    border: none !important;
    background-color: transparent !important;
}

.lowest-price {
    background-color: #9CFF9C;
    font-weight: bold;
}

/* Styles for responsiveness */
@media screen and (max-width: 900px) {
    .table-wrapper {
        max-width: 100%;
        overflow-x: scroll; /* Enable horizontal scroll for small screens */
    }
}

.export-buttons {
    margin-top: 20px;
    text-align: right;
  }
  
  .export-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .export-button:hover {
    background-color: #45a049;
  }
