.preaward-committee-container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.tender-details p {
    margin: 0.45rem;
}

.tender-details {
    margin-bottom: 3rem;
}

.table-wrapper {
    width: 100%;
    max-width: 900px;
    overflow-x: auto; /* Enables horizontal scrolling */
    margin-bottom: 20px;
}

table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #004d00;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevents text from wrapping */
}

thead th {
    background-color: #4caf50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:last-child {
    background-color: #d3d3d3;
}

.lowest-price {
    background-color: #9CFF9C; /* Light green background */
    font-weight: bold;
}

/* Media query for smaller screens */
@media screen and (max-width: 900px) {
    .table-wrapper {
        max-width: 100%;
        overflow-x: auto;
    }
}
