.evaluation-comparison-tabs {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tabs button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #4CAF50;
    color: white;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 600px;
    /* Set a maximum height */
    /* overflow-x: auto; */
    /* Add horizontal scrollbar when needed */
    overflow-y: auto;
    /* Add vertical scrollbar when needed */
}

.export-all {
    margin-top: 20px;
    text-align: right;
}

.export-all button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.export-all button:hover {
    background-color: #45a049;
}

.export-buttons {
    display: flex;
    gap: 10px;
    justify-content: left;
    margin: 20px 0;
}

.export-buttons button {
    padding: 7.5px 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: #4CAF50;
    /* A nice shade of green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.export-buttons button:hover {
    background-color: #45a049;
    /* A slightly darker shade for hover effect */
}